/* line 1, ../sass/screen.scss */
body {
  background-color: #eee;
}

/* line 5, ../sass/screen.scss */
.world-name {
  position: absolute;
  z-index: 100 !important;
}
/* line 8, ../sass/screen.scss */
.world-name h2, .world-name span {
  display: inline-block;
}
/* line 11, ../sass/screen.scss */
.world-name h2 {
  width: 120%;
}
/* line 14, ../sass/screen.scss */
.world-name span {
  position: absolute;
  right: -10px;
  top: 30px;
  z-index: -1;
}

/* line 22, ../sass/screen.scss */
.mesh-dropdown {
  width: 320px;
}
/* line 24, ../sass/screen.scss */
.mesh-dropdown li {
  float: left;
  margin: 2px;
  text-align: center;
}
/* line 28, ../sass/screen.scss */
.mesh-dropdown li a {
  padding: 0px;
}
/* line 30, ../sass/screen.scss */
.mesh-dropdown li a img {
  max-width: 100px;
}
